/* font */
* {
  font-family: 'Lato';
}

/* body with background picture*/
body:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 41, 110, 0.73)),
  url('football.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  filter: blur(1px);
  z-index: -9;
  transform: scale(1.1);
}

/* form, centers the container */
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* container */
.container {
  background-color: #1B1D2C;
  border-radius: 20px;
  width: 300px;
  padding: 80px;
}

/* image container */
.img-container {
  padding: 20px 30px 50px; 
  text-align:center;
}

/* label text */
.labeltext {
  padding: 2px 10px;
  color: white;
}

/* inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 15px;
  margin: 5px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

/* shared button styles */
.button {
  display: block;;
  color: white;
  padding: 14px 20px;
  margin: 30px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}

/* login button */
#login-button {
  background-color: #2C8897;
}

/* logout button */
#logout-button {
  background-color: #fe0909;
}

/* hover effect for button */
button:hover {
  opacity: 0.8;
}